*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 70%;
    border-radius: 10px;
    padding: 40px;
    background: rgb(230, 158, 158);
    justify-content: space-around;
    align-items: center;
    margin-top:50px;
  
}
.box{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
    /* text-decoration: underline; */
    margin-bottom: 20px;
    font-size: 50px;
    border: 2px solid black ;
    box-shadow: 2px 2px 2px white;
    /* border: 2px solid white; */
    font-weight: bolder;

}
h3{
    text-align: center;
    font-size: 36px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-weight: bolder;
    
}
